#!/usr/bin/make -f

SHERPA_ONNX_PREFIX := $(CURDIR)/third_party/sherpa-onnx

%:
	dh $@

override_dh_auto_configure:
	export CC=clang && \
	export CXX=clang++ && \
	dh_auto_configure -- -G Ninja \
		-DCMAKE_PREFIX_PATH=$(SHERPA_ONNX_PREFIX) \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_EXE_LINKER_FLAGS=-fuse-ld=mold \
		-DCMAKE_SHARED_LINKER_FLAGS=-fuse-ld=mold \
		-DCMAKE_MODULE_LINKER_FLAGS=-fuse-ld=mold
